{
  "globals": {
    "after": true,
    "afterEach": true,
    "assert": true,
    "beforeEach": true,
    "context": true,
    "describe": true,
    "it": true,
    "expect": true,
    "before": true
  },
  "rules": {
    "no-var": 0
  }
}
