{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "destructuring": true,
    "modules": true
  },
  "rules": {
    "quotes": 0,
    "curly": 0,
    "camelcase": 0,
    "semi": 0,
    "eol-last": 0,
    "key-spacing": 0,
    "new-cap": 0,
    "comma-dangle": 0,
    "consistent-return": 0,
    "no-proto": 0,
    "no-use-before-define": 0,
    "no-trailing-spaces": 0,
    "no-multi-spaces": 0,
    "no-mixed-requires": 0,
    "no-underscore-dangle": 0
  }
}