# .travis.yml
language: node_js

services:
  - postgresql
  - mysql

sudo: false

node_js:
  - '0.10'
  - '0.12'
  - '4'

before_script:
  - psql -c 'create database bookshelf_test;' -U postgres
  - mysql -e 'create database bookshelf_test;'

notifications:
  email: false

matrix:
  fast_finish: true
